@import url(/home/iv/project/ProfyShop/src_v1/style/reset.css);
@import url(/home/iv/project/ProfyShop/src_v1/style/animation.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.focus, .header .menu__point:active, .main .social__link:focus {
  outline: none;
  border: red solid 1px;
  padding: 5px;
  border-radius: 10%;
}

.pulse, .header .menu__point:hover, .main .social__link img:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
}

.slideInLeft, .header .menu .slideInLeft1, .header .menu .slideInLeft2, .header .menu .slideInLeft3, .header .menu .slideInLeft4 {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.flex-col-centr, .header .menu__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 200px;
  padding: 0 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .logo__img {
  width: auto;
  height: 100px;
}

.header .menu__point {
  cursor: pointer;
}

.header .menu__point .menu__icon {
  width: 62px;
  height: 62px;
  display: block;
}

.header .menu__point .menu__text {
  display: block;
  font-size: 26px;
  text-align: center;
  color: #444444;
  font-family: 'Rubik', sans-serif;
}

.header .menu__ul {
  position: absolute;
  top: 25px;
  right: 160px;
}

.header .menu__item {
  list-style: none;
}

.header .menu__link {
  display: block;
  text-decoration: none;
  color: #444444;
  padding: 5px;
  margin: 7px 0;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
}

.header .menu__link:hover {
  color: red;
  text-decoration: underline;
}

.header .menu .slideInLeft1 {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.header .menu .slideInLeft2 {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.header .menu .slideInLeft3 {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.header .menu .slideInLeft4 {
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
}

.main {
  min-height: calc(100vh - 260px);
  position: relative;
  margin: 0 auto;
  width: 90vw;
  border: solid 1px green;
}

.main .social {
  list-style: none;
  width: 60px;
  position: fixed;
  top: 190px;
  right: 1px;
}

.main .social__item {
  margin: 15px auto;
}

.main .social__link {
  display: block;
  text-align: center;
}

.main .social__link img {
  width: 32px;
  height: 32px;
}

.main .map {
  position: absolute;
  bottom: 116px;
  right: 20px;
}

.main .map iframe {
  width: 430px;
  height: 430px;
  border: none;
  border-radius: 12px;
}

footer {
  height: 60px;
  background-color: rgba(255, 0, 0, 0.349);
}
/*# sourceMappingURL=index.css.map */