@charset "UTF-8";
@import url(/home/iv/project/ProfyShop/src/style/reset.css);
@import url(/home/iv/project/ProfyShop/src/style/animation.css);
@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Rubik:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.pulse, .social__link img:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
            transform: scale3d(1.5, 1.5, 1.5);
  }
}

.shake, .header .strip:hover {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.h2 {
  padding-bottom: 10px;
  color: #373f48;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  text-transform: uppercase;
}

.focus, .social__link:focus {
  outline: none;
  border: rgba(255, 55, 55, 0.5) solid 4px;
  padding: 5px;
}

.flex-col-centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: relative;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .strip {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vh;
  color: white;
}

.header .strip span {
  display: block;
}

.header .strip .strict-letter {
  font-family: 'Rubik', sans-serif;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
  border-bottom: 4px white solid;
}

.header .strip .soft-letter {
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  color: black;
}

.header .red {
  background-color: red;
}

.header .orange {
  background-color: orange;
}

.header .yellow {
  background-color: #FF00FF;
}

.header .green {
  background-color: green;
}

.header .blue {
  background-color: blue;
}

.main {
  min-height: 100vh;
  padding: 40px;
}

.main .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  position: relative;
  border: solid 3px;
}

.main .article__img {
  height: 450px;
  width: 950px;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 2px;
}

.main .article__img img {
  height: 450px;
  width: auto;
}

.main .article__content {
  width: 470px;
  border: 1px red solid;
  position: absolute;
  top: 100px;
  right: 770px;
  background-color: rgba(255, 255, 255, 0.877);
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .article__content .article__link {
  text-decoration: none;
}

.main .article__content:hover {
  top: 0;
  height: 390px;
}

.social {
  list-style: none;
  position: fixed;
  top: 200px;
  right: 0px;
}

.social__item {
  margin: 5px auto;
}

.social__link {
  display: block;
  text-align: center;
  background-color: white;
  padding: 5px;
}

.social__link img {
  width: 32px;
  height: 32px;
}

footer {
  background-color: #444444;
  color: white;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.cool_link a {
  position: relative;
  color: #444444;
  /*задаём цвет ссылки*/
  cursor: pointer;
  line-height: 1;
  /*задаём высоту строки*/
  text-decoration: none;
  /*убираем подчёркивание*/
}

.cool_link a:after {
  display: block;
  position: absolute;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 4px;
  /*задаём ширину линии*/
  background-color: #ff373780;
  /*задаём цвет линии*/
  content: "";
  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
  /*задаём время анимации*/
}

.cool_link a:hover:after,
.cool_link a:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
/*# sourceMappingURL=index.css.map */